<launch>

  <rosparam command="load" file="$(find neoslam)/config/hwu_husky.yaml" />
  <arg name="record_bag" default="n"/>
 
  <!--- Neocortex Server -->
  <node pkg="neocortex" name="neocortex_server" type="neocortex_server.py" output="screen">
  </node>

  <!--- Neocortex -->
  <node pkg="neocortex" name="neocortex_client" type="neocortex_visual.py" output="screen">
  </node>

  <!--- RatSLAM -->
  <node name="RatSLAMPoseCells" pkg="ratslam_ros" type="ratslam_pc" args="$(find ratslam_ros)/config/config_husky_hwu.txt.in _image_transport:=raw" cwd="node" required="true" />
	<node name="RatSLAMExperienceMap" pkg="ratslam_ros" type="ratslam_em" args="$(find ratslam_ros)/config/config_husky_hwu.txt.in _image_transport:=raw" cwd="node" required="true" />

  <!--- Record Rosbag -->
  <arg name="path" default="/media/cappizzino/HD\ PIZZINO/dataset/output/"/>
  <node pkg="rosbag" type="record" name="record" args=  "/feats_htm /feats_lsbh /husky_hwu/odom /husky_hwu/LocalView/Template /husky_hwu/ExperienceMap/MapMarker /husky_hwu/ExperienceMap/Map /husky_hwu/ExperienceMap/RobotPose /info -O $(arg path)husky_out.bag" if="$(eval arg('record_bag') == 'y')" />
  
  <!--- rqt view -->
  <node pkg="rqt_image_view" type="rqt_image_view" name="image_view_debug_0" args="/stereo_camera/left/image_raw"/>

  <!--- Image saver -->
  <node pkg="image_view" type="image_saver" name="image_saver">
    <param name="save_all_image" value="false" />
    <param name="filename_format" value="$(env HOME)/neoslam_ws/images/image%04d.%s"/>
    <remap from="/image" to="/stereo_camera/left/image_raw"/>
  </node>

  <!--- NeoSLAM plots 
  <include file="$(find neoslam_plots)/launch/husky_hwu_neoslam_plot.launch" /> -->

</launch>
