<launch>

  <rosparam command="load" file="$(find neoslam)/config/irataus.yaml" />
  <arg name="record_bag" default="n"/>
 
  <!--- Neocortex Server -->
  <node pkg="neocortex" name="neocortex_server" type="neocortex_server.py" args="_image_transport:=raw" output="screen">
  </node>

  <!--- Neocortex -->
  <node pkg="neocortex" name="neocortex_client" type="neocortex_visual.py" args="_image_transport:=raw" output="screen">
  </node>

  <!--- RatSLAM -->
  <node name="RatSLAMPoseCells" pkg="ratslam_ros" type="ratslam_pc" args="$(find ratslam_ros)/config/config_irataus.txt.in _image_transport:=raw" cwd="node" required="true" />
	<node name="RatSLAMExperienceMap" pkg="ratslam_ros" type="ratslam_em" args="$(find ratslam_ros)/config/config_irataus.txt.in _image_transport:=raw" cwd="node" required="true" />

  <!--- Record Rosbag -->
  <arg name="path" default="/media/cappizzino/HD\ PIZZINO/dataset/output/"/>
  <node pkg="rosbag" type="record" name="record" args=  "/feats_htm /feats_lsbh /irat_red/odom /irat_red/LocalView/Template /irat_red/ExperienceMap/MapMarker /irat_red/ExperienceMap/Map /irat_red/ExperienceMap/RobotPose /info -O $(arg path)irataus_out.bag" if="$(eval arg('record_bag') == 'y')" />
  
  <!--- rqt view -->
  <node pkg="rqt_image_view" type="rqt_image_view" name="image_view_debug_0" args="/irat_red/image_raw"/>

  <node pkg="image_transport" type="republish" name="compressed_raw" args="compressed in:=/irat_red/camera/image raw out:=/irat_red/image_raw" />

  <!--- Image saver -->
  <node pkg="image_view" type="image_saver" name="image_saver">
    <param name="save_all_image" value="false" />
    <param name="filename_format" value="$(env HOME)/ros_workspace_dsc/image/image%04d.%s"/>
    <remap from="/image" to="/irat_red/image_raw"/>
  </node>

</launch>
