<launch>
  <rosparam command="load" file="$(find neoslam)/config/hwu_husky.yaml" />

  <node pkg="neocortex" name="neocortex_server" type="neocortex_server.py" output="screen">
  </node>

  <node pkg="neocortex" name="neocortex_client" type="neocortex_visual.py" output="screen">
  </node>

</launch>
