<launch>

  <arg name="ros_config_path" default="$(optenv ROS_CONFIG_PATH)"/>
  <arg name="ros_config_experiment" default="$(optenv SYS_CONFIG_NEOCORTEX)"/>

  <rosparam file="$(arg ros_config_path)/neocortex/$(arg ros_config_experiment)" command="load" />

  <node pkg="neocortex" name="neocortex_server" type="neocortex_server.py" output="screen">
    <rosparam file="$(arg ros_config_path)/neocortex/$(arg ros_config_experiment)" command="load" />
  </node>

</launch>
