<launch>

  <arg name="ros_config_path" default="$(optenv ROS_CONFIG_PATH)"/>

  <node name="RatSLAMPoseCells" pkg="ratslam_ros" type="ratslam_pc" args="$(arg ros_config_path)/ratslam/$(env SYS_CONFIG_RATSLAM) _image_transport:=raw" cwd="node" output="screen" required="true"> 
  </node>
  
  <node name="RatSLAMExperienceMap" pkg="ratslam_ros" type="ratslam_em" args="$(arg ros_config_path)/ratslam/$(env SYS_CONFIG_RATSLAM) _image_transport:=raw" cwd="node" output="screen" required="true">
  </node>

</launch>
